/** SCSS Dark Solar Template
============================= */

.no-hero-margin {
  margin-bottom: 62px;
}

.h1-masthead {
  text-align: center;
  font-size: 3.5rem;
}
.h2-masthead {
  text-align: center;
  font-size: 3rem;
}

#dark-solar-top-feed {
  .card {
	border: none;
  }
}

/** Hero Section
===================== */

section {
  &#hero-video-section {
	position: relative;
	background-color: black;
	height: 75vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
  }
}

section video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

section .container {
  position: relative;
  z-index: 2;
}

section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

#portrait-hero {
  &.card {
	border: none;
  }
}

@media (pointer: coarse) and (hover: none) {
  section {
	background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  section video {
	display: none;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .no-hero-margin {
	margin-bottom: 50px;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}
