/* Buttons */
.btn-black {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
.btn-black:not(:disabled):not(.disabled).active, .btn-black:not(:disabled):not(.disabled):active, .show>.btn-black.dropdown-toggle {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}
