/* Site Footer
----------------------------------------------------------------------------- */
.site-footer {
    padding: $spacer 0;
    p {
        margin-bottom: 0;
    }
    ul {
        @include list-unstyled;
    }
    a {
        color: inherit;
    }
    &.text-muted {
        a {
            &:hover {
                color: #fff;
            }
        }
    }
    &.bg-primary {
        a {
            &:hover {
                color: #fff;
            }
        }
    }
    &.bg-dark-solar {
	  background-color: $SolarBlack;
	}
}

.archive-pagination.pagination.clearfix {
  margin-bottom: 1.618em;
  li a {
	width: 42px;
	height: 42px;
  }
}
