/** SCSS Helpers
====================== */
.nmt-1 {
  top: -1.7em !important;
}

.mlr-auto {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width:576px) {
  .display-none-on-desktop {
	display: none !important;
  }
}

@media (max-width: 575.98px) {
  .display-none-on-mobile {
	display: none !important;
  }
}
