/* Navbar
----------------------------------------------------------------------------- */
nav {
  &.navbar {
	height: auto !important;
	padding-top: 0 !important;
  }
}
.navbar-toggler-icon:focus-visible,
.navbar-toggler-icon:focus,
.navbar-toggler-icon:hover,
.navbar-toggler-icon:visited,
.navbar-toggler-icon:focus-visible,
.navbar-toggler:focus-visible {
  outline: none !important;
}
.navbar-toggler-icon,
.navbar-toggler {
  outline: none !important;
}
.no-js .menu-item-has-children:hover .dropdown-menu,
.no-js .menu-item-has-children:focus .dropdown-menu {
    display: block;
}

/* Move navigation below wp-admin bar */
.logged-in {
    .navbar.fixed-top {
        margin-top: 32px; // Move navigation below wp-admin bar
    }
}

.navbar {
    padding: {
        left: 0;
        right: 0;
    }
}

.navbar-dark-solar {
  a {
	color: $LightGrey;
	transition: 0.5s;
	&:hover {
	  color: $Teal;
	  transition: 0.5s;
	}
  }
}

.bg-darksolar {
  background-color: $DarkAqua;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav {
	flex-direction: row;
	flex-wrap: wrap;
  }
}
